.soirees div{
    background: rgb(0, 255, 255);
    border-radius: 10px;
    padding: 0.5% 0 0 0.5%;
}
.selectable {
    cursor: pointer;
    border: blue solid 1px;
}

.selectable:hover   {
    transition: 0.5s;
    background-color: burlywood;
}